<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /garage48/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.+) index.php?q=$1
</IfModule>

